body {
  background-color: #ffebcd;
}

.weather-app-wrapper {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #fffafa;
  border: 1px groove;
  max-width: 600px;
  margin: 0 auto;
  height: 600px;
  border-radius: 20px;
}

.weather-app {
  padding: 30px;
  color: #663399;
}
h1 {
  text-align: center;
  padding: 20px 20px;
  font-weight: 400;
}

.text-sr #geo-btn {
  margin-top: 20px;
  padding: 5px;
  color: #663399;
}

.reference {
  display: inline-block;
  padding-top: 50px;
}
