body {
  background-color: #f9f7fe;
}

.weather-app-wrapper {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #663399;
  background-color: antiquewhite;
  border: 1px groove;
  max-width: 600px;
  margin: 0 auto;
  height: 600px;
  border-radius: 20px;
}

.weather-app {
  padding: 30px;
  color: #663399;
}
h1 {
  text-align: center;
  padding: 20px 20px;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* .weather-location{
   
}


.weather-condition{
   
} */

.text-sr #geo-btn {
  margin-top: 20px;
  padding: 5px;
}

.reference {
  display: inline-block;
  padding-top: 50px;
}
